tt, pre {
  font-family: Monaco, Consolas, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
  font-size: 12px;
}

b, p b {
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 1.4em;
}

#fwtitle div#toptitle {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#layout-menu .menu-category {
  font-size: 1.1em;
}

#layout-menu a {
  line-height: 1.4em;
}

#imgholder {
  position: relative;
  left: -3em;
}

span.comment {
  color: #888888;
}
