.code {
  line-height: 15px;
  font-size: 12px;
  font-family: monospace;
  color: black; }
  .code span.pdef-value {
    color: #770088; }
  .code span.pdef-identifier {
    color: black; }
  .code span.pdef-comment {
    color: gray; }
  .code span.pdef-block {
    color: #4488dd; }
  .code span.pdef-error {
    color: #aa0000; }
  .code span.pdef-equals {
    color: green; }
  .code span.pdef-dim {
    color: #f88017; }
  .code span.pdef-attr {
    color: #000077;
    font-style: italic; }
  .code span.pdef-constr, .code span.pdef-objv {
    color: black; }
  .code span.pdef-constr_sign {
    font-weight: bold;
    color: #0000cc; }
  .code span.pdef-range, .code span.pdef-index {
    color: #557733;
    font-weight: bold; }
  .code span.pdef-brackets {
    color: #557733; }
  .code span.pdef-semicolon {
    color: #2266cc;
    padding-left: 0.1em;
    padding-right: 0.1em; }
  .code span.pdef-function {
    color: #0055aa; }
  .code span.pdef-denom {
    color: #0055aa; }
  .code span.pdef-sparse_indices {
    color: #aa0088; }
  .code .high {
    line-height: 28px; }
